*/.DS_Store
.DS_Store
*/*.pyc
*/*/*.pyc
*/*.data
SentimentalAnalysis/aclImdb/*
SentimentalAnalysis/aclImdb_v1.tar.gz
SentimentalAnalysis/movie_data.csv
WebApplication/ImdbWebApp/pkl_objects/
WebApplication/ImdbWebApp/review.sqlite
WebApplication/SQLiteSetup/review.sqlite
WebApplication/movieclassifier/pkl_objects/